doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") index
    | &nbsp;
    a(href="/chat-list") chat list
    | &nbsp;
    a(href="/about") about
    block content
