#root {
	padding-top: 20px;
}
.chat-btn-td {
	width: 150px;
}
.chatMsgForm {
	margin-top: 14px;
}
.msg-table {
	margin: 0;
}
.msg-case {
	overflow-y: scroll;
}
.td-date {
	width: 150px;
}
.td-login {
	width: 150px;
}
.text-center {
	text-align: center;
}
.textEditor {
    min-height: 250px;
    overflow-y: auto;
}
.dropdown-menu > li > a.colorItem {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0 2px;

}