#root {
	padding-top: 20px;
}
.btn-td {
	width: 35px;
}
.chatMsgForm {
	margin-top: 14px;
}
.msg-table {
	margin: 0;
}
.msg-case {
	overflow-y: scroll;
}
.td-date {
	width: 150px;
}
.td-login {
	width: 150px;
}